{% extends 'base.html' %}

{% block base_header %}

{% endblock base_header %}

{% block base_content %}
<div class="grid grid-cols-12 h-screen">
    <div class="col-span-2 h-full">
        {% include 'components/admin/sidenav.html' %}
    </div>
    <div class="col-span-10 flex flex-col h-full">
        {% block admin_header %}
            
        {% endblock admin_header %}

        <div class="h-full grid grid-cols-12">
            {% block admin_content %}

            {% endblock admin_content %}
        </div>
    </div>
</div>
{% endblock base_content %}

{% block base_footer %}

{% endblock base_footer %}