{% extends 'admin/base.html' %}

{% block admin_header %}
<p>Business Content</p>
{% endblock admin_header %}

{% block admin_content %}
<div class="col-span-6">
    <a href="">New Contact</a>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for info in all_info %}
            
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock admin_content %}