{% extends 'base.html' %}

{% block base_header %}
    <div>
        <h1 class="text-4xl text-center">Login</h1>
    </div>
{% endblock base_header %}

{% block base_content %}
    <div class="flex justify-center self-center">
        <form class="flex flex-col gap-3" action="/login/process" method="post">
            <input type="text" name="email" id="email" placeholder="Email">
            {% for message in get_flashed_messages(category_filter=["err_user_email_login"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            <input type="password" name="pw" id="pw" placeholder="Password">
            {% for message in get_flashed_messages(category_filter=["err_user_pw_login"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            <button class="btn bg-my-accent">Login</button>
        </form>
    </div>
{% endblock base_content %}