{% extends 'base.html' %}

{% block base_header %}
    <div>
        <h1 class="text-4xl text-center">Register</h1>
    </div>
{% endblock base_header %}

{% block base_content %}
    <div class="flex justify-center self-center">
        <form class="flex flex-col gap-3" action="/user/create" method="post">
            <input type="text" name="first_name" id="first_name" placeholder="First Name">
            {% for message in get_flashed_messages(category_filter=["err_user_first_name_reg"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            <input type="text" name="last_name" id="last_name" placeholder="Last Name">
            {% for message in get_flashed_messages(category_filter=["err_user_last_name_reg"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            <input type="text" name="email" id="email" placeholder="Email">
            {% for message in get_flashed_messages(category_filter=["err_user_email_reg"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            <input type="password" name="pw" id="pw" placeholder="Password">
            {% for message in get_flashed_messages(category_filter=["err_user_pw_reg"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            <input type="password" name="confirm_pw" id="confirm_pw" placeholder="Confirm Password">
            {% for message in get_flashed_messages(category_filter=["err_user_confirm_pw_reg"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            <button class="btn bg-my-green">Register</button>
        </form>
    </div>
{% endblock base_content %}