{% extends 'admin/base.html' %}

{% block admin_header %}
<div>
    <h1 class="text-4xl"><strong>Services: </strong>{{ service.name }}</h1>
    <a class="text-blue-500" href="/admin/services">⬅️Back to all services</a>
</div>
{% endblock admin_header %}

{% block admin_content %}
    <div class="col-span-6 col-start-4 flex justify-center items-center">
        <form class="w-full" action="/admin/service/{{service.id}}/update" method="post">
            <div class="mb-3 flex flex-col">
                <label for="name">Services Name</label>
                <input type="text" name="name" id="name" value="{{ service.name }}">
                {% for message in get_flashed_messages(category_filter=["err_service_name"]) %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <div class="mb-3 flex flex-col">
                <label for="description">Description</label>
                <textarea name="description" id="summernote" cols="30" rows="10">{{ service.description }}</textarea>
                {% for message in get_flashed_messages(category_filter=["err_service_description"]) %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <button class="btn bg-my-accent">Update {{ service.name }}</button>
        </form>
    </div>
{% endblock admin_content %}


{% block base_js %}
<script src="{{ url_for('static', filename='js/rich-text.js') }}"></script>
{% endblock base_js %}