{% extends 'admin/base.html' %}

{% block admin_header %}
<h1 class="text-4xl">Settings</h1>
{% endblock admin_header %}

{% block admin_content %}
    <div class="col-span-full flex justify-center items-center gap-3">
        <form class="border-2 border-black rounded-lg shadow p-3" action="/admin/user/{{ user.id }}/update" method="post">
            <div class="mb-3 flex flex-col gap-3">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
                {% for message in get_flashed_messages(category_filter=["err_user_first_name"]) %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <div class="mb-3 flex flex-col gap-3">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
                {% for message in get_flashed_messages(category_filter=["err_user_last_name"]) %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <div class="mb-3 flex flex-col gap-3">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="{{ user.email }}">
                {% for message in get_flashed_messages(category_filter=["err_user_email"]) %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <button class="btn bg-my-accent">Update Information</button>
        </form>
        <form class="border-2 border-black rounded-lg shadow p-3" action="/admin/user/{{ user.id }}/update" method="post">
            <div class="mb-3 flex flex-col gap-3">
                <label for="old_pw">Old Password</label>
                <input type="password" name="old_pw" id="old_pw">
                {% for message in get_flashed_messages(category_filter=["err_user_old_pw"]) %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <div class="mb-3 flex flex-col gap-3">
                <label for="pw">Password</label>
                <input type="password" name="pw" id="pw">
                {% for message in get_flashed_messages(category_filter=["err_user_pw"]) %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <div class="mb-3 flex flex-col gap-3">
                <label for="confirm_pw">Confirm Password</label>
                <input type="password" name="confirm_pw" id="confirm_pw">
                {% for message in get_flashed_messages(category_filter=["err_user_confirm_pw"]) %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <button class="btn bg-my-accent">Update Password</button>
        </form>
    </div>
{% endblock admin_content %}