{% extends 'base.html' %}

{% block bg_img %}
<img class="bg__img" src="{{ url_for('static', filename='img/homePageBg.jpg') }}" alt="">
{% endblock bg_img %}

{% block base_content %}
<div class="grid grid-cols-12 gap-3 mt-5">
    
    <div class="col-span-10 md:col-span-5 col-start-2 md:col-start-2 flex justify-center bg-white/50 border-2 border-black p-3 rounded-lg">
        <img src="{{ url_for('static', filename='img/logoBlack.png') }}" alt="logo" width="200px">
    </div>

    <div class="col-span-10 md:col-span-5 col-start-2 md:col-start-auto  bg-white border-2 border-black p-3 rounded-lg">
        <div>
            <h1 class="text-xl font-bold">Lolo Creek Excavating, LLC</h1>
        </div>
        <p>Phone: <a href="tel:4065469948">(406) 546 - 9948</a></p>
        <p>Email: <a class="" href="mailto:brandon@lolocreekexcavating.com">Click Here</a></p>
        <p>Located in Lolo, Montana</p>
    </div>
</div>
{% endblock base_content %}