.nav {
    position: relative;
    margin: 0 1em;
    padding: 1em;
    border-radius: 0.5em;
    background: white;
}

.logo {
    position: absolute;
    top: -0.5em;
    left: 1em;
    /* width: 11em; */
}