<div class="bg-slate-700 text-white h-full">
    <ul>
        <li class="text-my-accent text-xl font-bold border-b-2 border-slate-300">Site Info</li>
        <li><a href="/admin/business_info">Business Info</a></li>
        <li><a href="/admin/services">Services</a></li>
        <li><a href="/admin/gallery">Gallery</a></li>
    </ul>
    <ul>
        <li class="text-my-accent text-xl font-bold border-b-2 border-slate-300">User</li>
        <li>Settings</li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>