<div class="bg-slate-700 text-white h-full shadow-lg shadow-my-dark flex flex-col">
    <ul class="pl-3 mt-0">
        <li class="text-my-accent text-xl font-bold border-b-2 border-slate-300">Site Info</li>
        <li><a href="/admin/business_info">Business Info</a></li>
        <li><a href="/admin/services">Services</a></li>
        <li><a href="/admin/gallery">Gallery</a></li>
    </ul>
    <ul class="pl-3 mt-auto">
        <li class="text-my-accent text-xl font-bold border-b-2 border-slate-300">User Settings</li>
        <li class="text-gray-100">Message The Dev</li>
        <li class="text-gray-100">Settings</li>
        <li><a class="text-my-danger" href="/logout">Logout</a></li>
    </ul>
</div>