<div class="flex justify-between p-3 bg-black text-my-green">
    <ul class="flex flex-col justify-center">
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <!-- <li><a href="/">Information</a></li> -->
    </ul>
    <div class="text-center hidden md:block">
        <p><a href="tel:4065469948">(406) 546 - 9948</a></p>
        <p><a class="" href="mailto:brandon@lolocreekexcavating.com">brandon@lolocreekexcavating.com</a></p>
        <p>Located in Lolo, Montana</p>
    </div>
    <img src="{{ url_for('static', filename='img/logoWhite.png') }}" alt="logo" width="100px">
</div>