<div class="flex justify-between p-3 bg-black text-my-accent">
    <ul class="flex flex-col justify-center">
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <!-- <li><a href="/">Information</a></li> -->
    </ul>
    <div class="text-center hidden md:block">
        <p><a href="tel:{{ business.phone_number }}">{{ business.phone_number }}</a></p>
        <p><a class="" href="mailto:{{ business.email }}">{{ business.email }}</a></p>
        <p>Located in Lolo, Montana</p>
    </div>
    <img src="{{ url_for('static', filename='img/logoWhite.png') }}" alt="logo" width="100px">
</div>