{% set page = url_for(request.endpoint) %}

{% block base_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
{% endblock base_css %}

<div class="hidden md:flex justify-between mx-5 p-5 mt-9 bg-white items-center rounded-lg">
    <img src="{{ url_for('static', filename='img/logoBlack.png') }}" alt="logo" width="100px">
    <ul class="flex gap-3">
        <li><a class="{{ 'underline' if page == '/' else '' }}" href="/">Home</a></li>
        <li><a class="{{ 'underline' if page == '/aboutus' else '' }}" href="/aboutus">About Us</a></li>
        <li><a class="{{ 'underline' if page == '/services' else '' }}" href="/services">Services</a></li>
        <li><a class="{{ 'underline' if page == '/gallery' else '' }}" href="/gallery">Gallery</a></li>
        <li><a class="btn bg-black text-my-accent" href="contactus">Contact Us</a></li>
    </ul>
</div>




<div class="block md:hidden">
    <nav>
        <div class="navbar">
            <div class="container nav-container ">
                <input class="checkbox" type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <div class="logo mt-3">
                    <a class="btn bg-black text-my-accent" href="contactus">Contact Us</a>
                </div>
                <div class="menu-items bg-white border-r-2 border-black">
                    <li><a class="{{ 'font-bold' if page == '/' else '' }}" href="/">Home</a></li>
                    <li><a class="{{ 'font-bold' if page == '/aboutus' else '' }}" href="/aboutus">About Us</a></li>
                    <li><a class="{{ 'font-bold' if page == '/services' else '' }}" href="/services">Services</a></li>
                    <li><a class="{{ 'font-bold' if page == '/contactus' else '' }}" href="/contactus">Contact Us</a></li>
                </div>
            </div>
        </div>
    </nav>
</div>
